<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.text_field :name %>
    <%= f.label :name %>
  </p>
  <p>
    <%= f.text_area :body, :rows=>10, :cols=>"100%" %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>

