<%= link_to 'New Article', new_article_path %><br/>

<ul>
  <% @articles.each do |article| %>
    <li id='article_<%= article.id %>'>
      
      <%= article.title %>
      <%= article.body %>
      <%= article.url %>
      <%= article.tags %>
      
      <% if check_user_voted(article.id) %>
        <%= link_to '[+]', update_rating_path(article, :value => 1), :remote => true %>
        <%= article.rating %>
        <%= link_to '[-]', update_rating_path(article, :value => -1), :remote => true %>
      <% else %>
        <%= article.rating %>
      <% end %>
      <div>
        <%= link_to 'Show', article %>
        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
        <p><%= article.category_id %></p>
      </div>
    </li>
  <% end %>
</ul>
<br />

<%= link_to 'New Article', new_article_path %>
