<ul id='function_panel'>
  <li><%= link_to 'Back to articles', articles_path %></li>
</ul>
<h3><%= @article.title %></h3>
<p>Category <%= @category.name %>. Posted <%= @article.created_at %></p>
<p><%= @article.body %></p>

<ul id="article_panel">
  <li><%= link_to 'Edit', edit_article_path(@article) %></li>
  <li>url: <%= @article.url %></li>
  <li>tags: <%= @article.tags %></li>
</ul>

<h4><%= pluralize(@comments.count, "comment") %> on <%= @article.title %></h4>
<ul id='comment_list'>
  <% @comments.each do |comment| %>
    <li>
      <span><%= comment.name %></span>
      said <%= comment.created_at.to_date %>
      <p><%= comment.body %></p>
    </li>
  <% end %>
</ul>
<div id="writecomment">
  <%= render :partial => 'comment_form' %>
</div>

